/*公共*/
.zone table  > tr > th{
         border: 0;
}
.zone table > tbody > tr > td{
         border: 0;
}
.zone .table-bordered{
         border: 0;
}
.zone .table-bordered > thead > tr > th{
         border: 0;
}
.zone .th1{
    font-weight: bold;
    background: #698ACF;
    color: #fff;
}
.zone .lUl{
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}
.zone .rUl{
    font-size: 14px;
    font-weight: bold;
    width: 270px;
    text-align: center;
}

.zone .lineBetweenB25 {
    margin-bottom: 25px;
}

.zone .lineBetween {
    margin-top: 40px;
    margin-bottom: 5px;
}

.zone .lineBetween30 {
    margin-top: 30px;
    margin-bottom: 5px;
}
.zone .lineBetween50 {
    margin-top: 50px;
    margin-bottom: 5px;
}

.zone .relative {
    position: relative;
}

.zone .line {
    height: 1px;
    width: 100%;
    background: #444;
    overflow: hidden;
}

.zone .float {
    float: left;
}

.zone .fontStyle {
    /*font-weight: bold;*/
    font-size: 14px;
}

.zone .tipDiff-left{
    width: 16px;
    height: 9px;
    float: left;
    margin-top: 9px;
    margin-right: 8px;
}

.zone .tipDiff-right{
    float: left;
    font-size: 9px;
}

.zone .w100 {
    width: 100px;
}

.zone .w150 {
    width: 150px;
}

.zone .diff-10 {
    background-color: #86bb06
}

.zone .diff-5-10 {
    background-color: #00c546
}

.zone .diff5-10 {
    background-color: #ff6600;
}

.zone .diff10 {
    background-color: #ff1800;
}


.zone .diff-10B {
    color: #86bb06
}

.zone .diff-5-10B {
    color: #00c546
}

.zone .diff5-10B {
    color: #ff6600;
}

.zone .diff10B {
    color: #ff1800;
}


.zone .topThree {
    background-color: #83BB04;
}

.zone .reciprocalThree {
    background-color: #FF1801;
}

.zone .topThreeB {
    color: #83BB04;
}

.zone .reciprocalThreeB {
    color: #FF1801;
}

.zone .pd-bottom20 {
    padding-bottom: 20px;
}

/*=====================*/
.zone .gradient0 {
    background: #77f1a3
}

.zone .gradient1 {
    background: #77f1a3;
}

.zone .gradient2 {
    background: #9af1b9;
}

.zone .gradient3 {
    background: #acf3c6;
}

.zone .gradient4 {
    background: #bcf9d2;
}

.zone .gradient5 {
    background: #c7fcda;
}

.zone .gradient6 {
    background: #ceffe0;
}

.zone .gradient7 {
    background: #ceffce;
}

.zone .gradient8 {
    background: #d9ffce;
}

.zone .gradient9 {
    background: #e7ffce;
}

.zone .gradient10 {
    background: #f4ffce;
}

.zone .gradient11 {
    background: #fffece;
}

.zone .gradient12 {
    background: #fff2ce;
}

.zone .gradient13 {
    background: #ffe6ce;
}

.zone .gradient14 {
    background: #ffddce;
}

.zone .gradient15 {
    background: #fcc9c3
}

.zone .gradient16 {
    background: #fdb9b2
}

.zone .gradient17 {
    background: #fda79d
}

.zone .gradient18 {
    background: #f99090
}
/*=====================*/

.zone .gradient19 {
    background: #f99090
}

.zone .single {
    background: #EAEEFA;
}

.zone .double {
    background: #FCFBFF;
}

.zone .single2 {
    background: #EFF9F8;
}

.zone .double2 {
    background: #FBFCFE;
}
/*公共*/


/*敬满指数排名总览*/
.indexRankingOverview .w800 {
    /*width: 720px;*/
    margin: auto;
    overflow: scroll;
    overflow-y: hidden;
}

.indexRankingOverview .content {
    /*width: 900px;*/
    margin: auto;
}

.indexRankingOverview .chart1 {
    height: 400px;
}

.indexRankingOverview .linePos1 {
    position: absolute;
    top: 0px;
    left: 170px;
}

.indexRankingOverview .line {
    width: 20px;
    float: left;
    height: 2px;
    margin-top: 10px;
    background: #ff1800;
}

.indexRankingOverview .line2 {
    width: 20px;
    float: left;
    height: 2px;
    margin-top: 10px;
    background: #FF6600;
}


.indexRankingOverview .title {
    float: left;
    font-size: 12px;
    height: 23px;
    line-height: 23px;
}



.indexRankingOverview .chart2 {
    height: 400px;
}

.indexRankingOverview .linePos2 {
    position: absolute;
    top: 450px;
    left: 170px;
}


.indexRankingOverview .linePosB {
    position: absolute;
    top:0%;
    left: 280px;
}

.indexRankingOverview .lineB li div:nth-child(1) {
    width: 20px;
    float: left;
    height: 2px;
    margin-top: 10px;
}

.indexRankingOverview .lineB li:nth-child(1) div:nth-child(1) {
    background: #ff1800;
}

.indexRankingOverview .lineB li:nth-child(2) div:nth-child(1) {
    background: #ff6600;
}

.indexRankingOverview .lineB li:nth-child(3) div:nth-child(1) {
    background: #66dc90;
}

.indexRankingOverview .lineB li:nth-child(4) div:nth-child(1) {
    background: #86bb06;
}

.indexRankingOverview .lineB li div:nth-child(2) {
    float: left;
    font-size: 12px;
    height: 23px;
    line-height: 23px;
}

.indexRankingOverview .chart3 {
    height: 500px;
}
/*敬满指数排名总览*/

/*敬满指数高低矩阵图*/
.exponentialMatrix .w800 {
    /*width: 750px;*/
    margin: auto;
}

.exponentialMatrix .contentPos {
    position: relative;
    top: -410px;
    left: 60px;
}

.exponentialMatrix .content {
    width: 620px;
    position: absolute;
    top: 0px;
    left: 0px;
}

    .exponentialMatrix .content div {
        height: 170px;
        border: 1px solid #d3d3d3;
        overflow: auto;
        overflow-x: hidden;
    }

        .exponentialMatrix .content div h4 {
            color: #444;
        }
         .exponentialMatrix .content div:nth-child(2) h4{
            color: #fff;
        }

        .exponentialMatrix .content div:nth-child(1) {
            background-color: #d8e3f7;
        }

        .exponentialMatrix .content div:nth-child(2) {
            background-color: #698acf;
        }

        .exponentialMatrix .content div:nth-child(3) {
            background-color: #edf1fc;
        }

        .exponentialMatrix .content div:nth-child(4) {
            background-color: #d8e3f7;
        }

        .exponentialMatrix .content div ul li {
            color: #444;
        }
        .exponentialMatrix .content div:nth-child(2) ul li{
            color: #fff;
        }

.exponentialMatrix .chart3 {
    /*width: 750px;*/
    height: 500px;
}
/*敬满指数高低矩阵图*/

/*敬满指数历史趋势*/
.exponentialTrend .chart1 {
    /*width: 750px;*/
    height: 600px;
}
/*敬满指数历史趋势*/

/*与上一年历史对比（部门）*/
.comparedPreviousYear .w800 {
    width: 720px;
    margin: auto;
    overflow: scroll;
    overflow-y: hidden;
}

.comparedPreviousYear .content {
    width: 850px;
    /*margin: auto;*/
}

.comparedPreviousYear .chart {
    width: 600px;
    height: 400px;
}

.comparedPreviousYear .chart2 {
    width: 600px;
    height: 800px;
}




    .comparedPreviousYear .rUl li:nth-child(1) {
        width: 130px;
    }

.comparedPreviousYear .list-inline span:nth-child(2) {
    color: #000;
}


.comparedPreviousYear .chaVal3 .list-group-item ,
.comparedPreviousYear .chaVal4 .list-group-item {
    padding-bottom: 1px;
    padding-top: 1px;
    margin-left: 10px;
    border: 0;
    height: 31px;
    margin-top: 5px;
    margin-bottom: 7px;
}



.comparedPreviousYear .chaVal1 li, .comparedPreviousYear .chaVal2 li {
    height: 31px;
    border: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.comparedPreviousYear .chaVal1 {
    margin-left: 50px;
}

.comparedPreviousYear .chaVal3 {
    margin-left: 50px;
}

.comparedPreviousYear .chaVal2 {
    margin-left: 60px;
}

.comparedPreviousYear .chaVal4 {
    margin-left: 40px;
}

/*与上一年历史对比（部门）*/

/*与上一年历史对比（中心）*/
.comparedPreviousYearCentre .w800 {
    /*width: 720px;*/
    margin: auto;
}


.comparedPreviousYearCentre .content {
    /* width: 900px;*/
    margin: auto;
}

.comparedPreviousYearCentre .table > thead > tr > th {
    text-align: center;

}

.comparedPreviousYearCentre table .th1 {
    width: 150px;
}

.comparedPreviousYearCentre table td {
    text-align: center;
    height: 35px;
}

.comparedPreviousYearCentre table .dept {
    text-align: left;
}
/*.comparedPreviousYearCentre ._tb2 {
    width:750px;
}*/
.comparedPreviousYearCentre ._tb2, ._tb4 {
    width: 1024px;
}

.comparedPreviousYearCentre .table-responsive {
    margin-bottom: 20px;
    overflow: auto;
    overflow-y: hidden;
}

.comparedPreviousYearCentre ._tb3, ._tb5 {
    width: 1900px;
}

.comparedPreviousYearCentre .table > thead > tr > th {
    vertical-align: middle;
}

.comparedPreviousYearCentre .chart3 {
    height: 700px;
    overflow: auto;
    overflow-x: hidden;
}
/*与上一年历史对比（中心）*/

/*敬业度3S分析*/
.threeSAnalysis .w800 {
    margin: auto;
    overflow: scroll;
    overflow-y: hidden;
}

.threeSAnalysis ._tb1 td {
    width: 1024px;
}

.threeSAnalysis table .th1 {
    width: 150px;
}
/*敬业度3S分析*/

/*满意度4S分析*/
.fourSAnalysis .w800 {
    /*width: 900px;*/
    margin: auto;
    overflow: auto;
    overflow-y: hidden;
}

.fourSAnalysis table thead tr {
    background: #69cfb3;
    color: #fff;
}

.fourSAnalysis ._tb2 tbody tr:nth-child(1) {
    background: #69cfb3;
    color: #fff;
}
/*满意度4S分析*/

/*下属团队分析*/
.underlingTeamAnalysis .w800 {
    /*width: 900px;*/
    margin: auto;
    overflow: auto;
    overflow-y: hidden;
}

.underlingTeamAnalysis .table {
    margin-bottom: 1px;
}

.underlingTeamAnalysis .detail {
    border: 2px dashed #c2c2c2;
    margin-bottom: 20px;
    height: 50px;
    line-height: 50px;
    background-color: #F2F2F2;
    padding-left: 20px;
}

.underlingTeamAnalysis ._tb2 .th1 {
    background-color: #69cfb3;
}
/*下属团队分析*/

/*自定义问题*/
.bgQuestions .w800 {
    /*width: 900px;*/
    margin: auto;
    overflow: auto;
    overflow-y: hidden;
}

/*自定义问题*/

/*组织关键驱动问题*/
.keyFactor .w800 {
    margin: auto;
    overflow: auto;
    overflow-y: hidden;
}
/*组织关键驱动问题*/

/*敬业度指数总览*/
.indexEngagementOverview .w800 {
    margin: auto;
    overflow: auto;
    overflow-y: hidden;
}


.indexEngagementOverview .chart1 {
    height: 400px;
}

.indexEngagementOverview .linePos1 {
    position: absolute;
    top: 0px;
    left: 170px;
}

.indexEngagementOverview .line {
    width: 20px;
    float: left;
    height: 2px;
    margin-top: 10px;
    background: #ff1800;
}

.indexEngagementOverview .title {
    float: left;
    font-size: 12px;
    height: 23px;
    line-height: 23px;
}

.indexEngagementOverview .chart3 {
    height: 450px;
}

.indexEngagementOverview .linePos3 {
    position: absolute;
    top: 0px;
    left: 170px;
}
/*敬业度指数总览*/

/*满意度指数总览*/
.indexSatisfactionOverview .w800 {
    margin: auto;
    overflow: auto;
    overflow-y: hidden;
}

.indexSatisfactionOverview ._tb3 .th1 {
    background-color: #69cfb3;
    color: #fff;
}

.indexSatisfactionOverview .chart1 {
    height: 400px;
}

.indexSatisfactionOverview .linePos1 {
    position: absolute;
    top: 0px;
    left: 180px;
}

.indexSatisfactionOverview .line {
    width: 20px;
    float: left;
    height: 2px;
    margin-top: 10px;
    background: #ff6600;
}

.indexSatisfactionOverview .title {
    float: left;
    font-size: 12px;
    height: 23px;
    line-height: 23px;
}

.indexSatisfactionOverview .chart3 {
    height: 400px;
}

.indexSatisfactionOverview .linePos3 {
    position: absolute;
    top: 0px;
    left: 180px;
}
/*满意度指数总览*/

/*敬业度-与上一年历史对比*/
.comparedPreviousYearEng .w800 {
    /*width: 720px;*/
    margin: auto;
    overflow: scroll;
    overflow-y: hidden;
}

.comparedPreviousYearEng .content {
    width: 850px;
    /*margin: auto;*/
}


.comparedPreviousYearEng .chart {
    width: 600px;
    height: 400px;
}



    .comparedPreviousYearEng .rUl li:nth-child(1) {
        width: 130px;
    }



.comparedPreviousYearEng .list-inline span:nth-child(2) {
    color: #000;
}

.comparedPreviousYearEng .chaVal1 li, .comparedPreviousYearEng .chaVal2 li {
    height: 31px;
    border: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.comparedPreviousYearEng .chaVal1 {
    margin-left: 50px;
}

.comparedPreviousYearEng .chaVal2 {
    margin-left: 40px;
}

.comparedPreviousYearEng .table > thead > tr > th {
    text-align: center;
}

.comparedPreviousYearEng table .th1 {
    width: 150px;
}

.comparedPreviousYearEng table td {
    text-align: center;
    height: 35px;
}

.comparedPreviousYearEng table .dept {
    text-align: left;
}

.comparedPreviousYearEng ._tb2 {
    width: 1024px;
}

.comparedPreviousYearEng .table-responsive {
    margin-bottom: 20px;
    overflow: auto;
    overflow-y: hidden;
}

.comparedPreviousYearEng .table > thead > tr > th {
    vertical-align: middle;
}
/*敬业度-与上一年历史对比*/

/*满意度-与上一年历史对比*/
.comparedPreviousYearSat .w800 {
    /*width: 720px;*/
    margin: auto;
    overflow: scroll;
    overflow-y: hidden;
}

.comparedPreviousYearSat .content {
    width: 850px;
    /*margin: auto;*/
}

.comparedPreviousYearSat .chart {
    width: 600px;
    height: 800px;
}


    .comparedPreviousYearSat .rUl li:nth-child(1) {
        width: 130px;
    }


.comparedPreviousYearSat .list-inline span:nth-child(2) {
    color: #000;
}

.comparedPreviousYearSat .chaVal1 .list-group-item, .comparedPreviousYearSat .chaVal2 .list-group-item {
    padding-bottom: 1px;
    padding-top: 1px;
    margin-left: 10px;
    border: 0;
    height: 31px;
    margin-top: 5px;
    margin-bottom: 7px;
}

.comparedPreviousYearSat .chaVal1 {
    margin-left: 30px;
}

.comparedPreviousYearSat .chaVal2 {
    margin-left: 60px;
}


.comparedPreviousYearSat .table > thead > tr > th {
    text-align: center;
}

.comparedPreviousYearSat table .th1 {
    width: 150px;
}

.comparedPreviousYearSat table td {
    text-align: center;
    height: 35px;
}

.comparedPreviousYearSat table .dept {
    text-align: left;
}

.comparedPreviousYearSat ._tb3 {
    width: 1900px;
}

.comparedPreviousYearSat .table-responsive {
    margin-bottom: 20px;
    overflow: auto;
    overflow-y: hidden;
}

.comparedPreviousYearSat .table > thead > tr > th {
    vertical-align: middle;
}
/*满意度-与上一年历史对比*/


/*得分10道题*/
.scoreTenQuestions .w800 {
    margin: auto;
    overflow: auto;
    overflow-y: hidden;
}

.scoreTenQuestions table .th1 {
    color: #fff;
}

.scoreTenQuestions ._tb1 .th1 {
    background-color: #698ACF;
}

.scoreTenQuestions ._tb2 .th1 {
    background-color: #69cfb3;
}
/*得分10道题*/








/*得分与上年相比上升（下降）最快10道题*/
/*.comparedTenQuestions{
    position:absolute;
}*/
.comparedTenQuestions .w800 {
    margin: auto;
    overflow: scroll;
    overflow-y: hidden;

}

.comparedTenQuestions .content {
    width: 1200px;
}

.comparedTenQuestions .chart, .comparedTenQuestions .chart2 {
    width: 600px;
    height: 500px;
}

.comparedTenQuestions table {
    text-align: center;
    width: 250px;
}

    .comparedTenQuestions table tr:nth-child(1) {
        background-color: #B8B8B8;
        color: #fff;
    }

    .comparedTenQuestions table .c6 {
        background-color: #FEB49B;
    }

    .comparedTenQuestions table .c5 {
        background-color: #FEE2D7;
    }

    .comparedTenQuestions table .c4 {
        background-color: #FFFBF8;
    }

    .comparedTenQuestions table .c3 {
        background-color: #81CDC9;
    }

    .comparedTenQuestions table .c2 {
        background-color: #DAF0ED;
    }

    .comparedTenQuestions table .c1 {
        background-color: #DAF0ED;
    }

.comparedTenQuestions .row .list-inline {
    text-align: center;
    font-weight: 800;
    font-size: 14px;
}

.comparedTenQuestions .chaVal1 li,
.comparedTenQuestions .chaVal2 li {
    height: 31px;
    border: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 15px;
    margin-top: 10px;
    text-align: center;
}

.comparedTenQuestions .chaVal1,
.comparedTenQuestions .chaVal2 {
    margin-left: 30px;
}



/*得分与上年相比上升（下降）最快10道题*/











/**关键问题分析*/
.keyProblemAnalysis {
    margin-bottom: 30px;
}

    .keyProblemAnalysis table {
        /*width: 1024px;*/
        text-align: center;
    }

        .keyProblemAnalysis table th {
            vertical-align: middle !important;
            text-align: center;
            background-color: #4879DF;
            color: #fff;
        }

    .keyProblemAnalysis .chartPanel-left {
        color: #fff;
        background-color: #FD835E;
        padding: 3px;
        width: 100px;
        text-align: center
    }

    .keyProblemAnalysis .chartPanel {
        padding-top: 40px;
        height: 100px;
    }

    .keyProblemAnalysis .chartPanel-right {
        line-height: 30px;
        height: 60px;
    }

    .keyProblemAnalysis .key-col {
        color: #FF0000;
    }

    .keyProblemAnalysis .chart3, .keyProblemAnalysis .chart4 {
        height: 300px;
    }
/**关键问题分析*/

/**行动计划*/
.action-plan .calendar-select{
    width:130px;
}
.action-plan textarea {
    width: 100%;
}
.action-plan .calendar-select-report {
    width: 130px;
    height:35px;
    line-height:35px;
}
.action-plan .person-liable-show {
    height: 35px;
    line-height: 35px;
}


#report-content .action-plan-files {
    margin-top:20px;
}
#report-content .form-group {
    margin-bottom:0;
}

.action-plan .action-plan-file span {
    margin-left: 10px;
}

.action-plan .action-plan-file-icon {
    background-image: url("file.png");
    display: -moz-inline-box;
    display: inline-block;
    width: 21px;
    height: 21px;
    background-size: cover;
    cursor: pointer;
    top: 5px;
    position: relative;
}

.action-plan .action-plan-file-name {
    display: inline-block;
    width: 300px;
    overflow: hidden;
    /* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow: ellipsis;
    /* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
    white-space: nowrap; /* 不换行 */
    font-size: 14px;
    vertical-align:middle;
}

.action-plan .action-plan-file .action-plan-file-btn {
    color: #B5B5B5;
    cursor: pointer;
}

.action-plan .action-plan-footer {
    text-align: right;
    width: 300px;
    float: right;
    position: relative;
    top: -40px;
}

.action-plan .select2-drop {
    margin-top: 0;
}
.action-plan-files {
    padding-bottom:20px;
}
.action-plan-files .action-plan-file-btn {
    text-decoration: none;
}

    .action-plan-files .action-plan-file-btn:hover {
        color: #448fe7;
    }
/**行动计划*/
/**文件上传*/
/*.file-upload  .file-upload-file-icon{
  background-image: url("file.png");
	display: -moz-inline-box;
	display: inline-block;
	width: 21px;
	height: 21px;
	background-size: cover;
	cursor: pointer;
}*/

a.add-pic:hover{
    text-decoration:none;
}

.file-upload .file-upload-file {
    border-bottom: 1px solid #EFEFEF;
}

.file-upload .file-upload-files {
}

    .file-upload .file-upload-files :last-child {
        border-bottom: 0;
    }

.file-upload .file-upload-file .file-upload-file-top {
    margin-top: 20px;
    font-weight: 700;
}

.file-upload .file-upload-file .file-upload-file-bottom {
    margin-top: 20px;
    margin-bottom: 10px;
}

    .file-upload .file-upload-file .file-upload-file-bottom :last-child {
        margin-left: 30px;
    }

.file-upload .file-upload-file .file-upload-file-btn {
    float: right;
    text-align: right;
    padding-left: 15px;
    padding-right: 15px;
    color: #B5B5B5;
    cursor: pointer;
    font-weight: normal;
}

    .file-upload .file-upload-file .file-upload-file-btn:last-child {
        border-right: 1px solid #EFEFEF;
    }


.file-upload-files .file-upload-file-btn {
    text-decoration: none;
}

    .file-upload-files .file-upload-file-btn:hover {
        color: #448fe7;
    }
/**文件上传*/
